.profile-block {

  color: #172B4D;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  box-sizing: border-box;
  padding: 8px;
  outline: 0;
  overflow: hidden;
  width: 304px;

  .profile-block-header {
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
    color: #5E6C84;
    height: 40px;
    display: block;
    line-height: 40px;
    margin: 0;
    text-align: center;
    overflow: hidden;
    padding: 0 32px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .profile-block-info {

    &__profile {
      display: flex;
      margin-top: 10px;
      padding-bottom: 10px;

      align-items: center;
      border-bottom: 1px solid rgba(9, 30, 66, 0.13);


      .profile-img {
        align-items: center;
        background-color: #DFE1E6;
        margin-right: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 0;
        border-radius: 100%;
        box-sizing: border-box;
        color: #172B4D;
        display: inline-flex;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        justify-content: center;
        opacity: 1;
        font-size: 18px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        overflow: hidden;
        white-space: nowrap;
      }

      .profile-info {
        display: flex;
        flex-direction: column;

        &__title {
          margin-top: 4px;
          max-width: 230px;
        }

        &__subtitle {
          font-size: 9pt;
          color: #B3BAC5;
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 230px;
        }
      }
    }
  }

  .profile-block-bottom {
    margin-top: 10px;
    padding-bottom: 10px;

  }
}
