.animated.fastest {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes zoomInSmall {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.7, .7, .7);
    transform: scale3d(.7, .7, .7);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomInSmall {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.7, .7, .7);
    transform: scale3d(.7, .7, .7);
  }

  50% {
    opacity: 1;
  }
}

.zoomInSmall {
  -webkit-animation-name: zoomInSmall;
  animation-name: zoomInSmall;
}

