@import "src/styles/variables";
@import "src/styles/mixins";

.form-field-row {
  display: flex;

  .form-field {
    margin-left: 20px;


    &:first-child {
      margin-left: 0;
    }
  }
}

.form-field {

  label {
    font-size: $fs-small;
    color: $gray500;
    display: block;
    margin-bottom: 8px;
  }
  position: relative;

  input,
  textarea {
    width: 100%;
    color: $gray700;
    height: 45px;
    padding: 0 15px;
    border: 1px solid $gray400;
    border-radius: 5px;
    font-size: $fs-default;
    margin-bottom: 22px;
    min-height: 45px;

    &::placeholder {
      color: $gray500;
      font-weight: 300;
    }
  }

  &:last-child > textarea {
    margin-bottom: 0;
  }

  textarea {
    height: auto;
    margin-bottom: 18px;

    padding: {
      top: 16px;
      bottom: 13px;
    };
  }
}

.search-field {
  position: relative;
  width: 100%;

  & > label {
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 1.2em;
  }

  input {
    color: $gray500;
    padding: 13px 10px 13px 40px;
    border: 1px solid $gray500;
    font-size: $fs-small;
    border-radius: 22px;
    width: 100%;
    outline: none !important;
  }
}

.custom-form-checkbox {
  margin-bottom: 0;
  display: flex;

  > span.icon {
    @include size(22px);
    border: 1px solid $gray400;
    border-radius: 5px;
    display: inline-block;
    float: left;

    mat-icon {
      opacity: 0;
      font-size: 20px;
    }
  }

  > span.text {
    display: inline-block;
    line-height: 24px;
    margin-left: 10px;
  }

  > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 22px;
  }

  > input:checked ~ span > mat-icon {
    opacity: 1;
  }
}

.custom-form-radio {
  margin-bottom: 0;
  display: inline-block;

  > span.icon {
    @include size(22px);
    border: 1px solid $gray400;
    border-radius: 50%;
    display: inline-block;
    float: left;

    > span {
      display: inline-block;
      margin: 5px;
      @include size(10px);
      background-color: $gray500;
      border-radius: 50%;
      opacity: 0;
    }
  }

  > span.text {
    display: inline-block;
    line-height: 24px;
    margin-left: 10px;
  }

  > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 22px;
  }

  > input:checked ~ span > span {
    opacity: 1;
  }
}

