$blue: #42a3ed;
$red: #ed4242;
$green: #39c695;

$gray100: #f3f3f3 !default;
$gray150: #fbfbfb !default;
$gray200: #e0e0e0 !default;
$gray300: #d8d8d8 !default;
$gray400: #cecece !default;
$gray500: #848484 !default;
$gray600: #4d4d4d !default;
$gray700: #212121 !default;
$gray800: #171a1c !default;

//font-sizes
$fs-default: 1rem; // 16px
$fs-big: 1.125rem; // 18px
$fs-bigger: 1.25rem; //20px
$fs-small: 0.875rem; // 14px
$fs-smaller: 0.75rem; // 12px
$fs-title: 2.5rem; // 40px
$fs-big-title: 3.75rem;
$fs-biggest: 1.5rem; //24px
$info-padding: 0 3.75rem;
$table-padding: 0 3.75rem;

$input-background: #f9f9f8;
$header-height: 0px;
