<div class="content">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <label for="name">{{'auth.name' | translate}}</label>
        <input
          formControlName="name"
          name="name"
          required
          id="name">
        <p class="help-block" *ngIf="isClicked && registerForm.get('name').hasError('required')">Name must be required</p>
      </div>
      <div class="form-group">
        <label for="surname">{{'auth.surname' | translate}}</label>
        <input
          formControlName="surname"
          name="surname"
          required
          id="surname">
        <p class="help-block" *ngIf="isClicked && registerForm.get('surname').hasError('required')">Surname must be required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="email">{{'auth.email' | translate}}</label>
      <input
        formControlName="email"
        name="email"
        type="email"
        required
        id="email">
      <p class="help-block" *ngIf="isClicked && registerForm.get('email').hasError('required')">Email must be required</p>
      <p class="help-block" *ngIf="!registerForm.get('email').hasError('required')&& isClicked && registerForm.get('email').hasError('email')">Email not correct</p>
    </div>
    <div class="form-group">
      <label for="password">{{'auth.password' | translate}}</label>
      <input
        formControlName="password"
        name="password"
        type="password"
        required
        id="password">
      <p class="help-block" *ngIf="isClicked && registerForm.get('password').hasError('required')">Password must be required</p>
      <p class="help-block" *ngIf="isClicked && registerForm.get('password').value !== registerForm.get('retype_password').value && registerForm.get('retype_password').touched">Password does not match</p>
    </div>
    <div class="form-group">
      <label for="retype_password">{{'auth.retype' | translate}}</label>
      <input
        formControlName="retype_password"
        name="retype_password"
        type="password"
        required
        id="retype_password">
      <p class="help-block" *ngIf="isClicked && registerForm.get('retype_password').hasError('required')">Password must be required</p>
    </div>
    <div class="form-group">
      <label class="form-remember">
      </label>
      <a href="#" [routerLink]="'/authorization/login'" class="form-recovery">
        {{'auth.haveAcc' | translate}}
      </a>
    </div>
    <div class="form-group">
      <button class="form-button create-account">{{'auth.create' | translate}}</button>
    </div>
  </form>
</div>

