@import "../../../../styles/variables";


.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  color: $gray;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.form {
  padding: 60px 60px 60px 60px;
  box-sizing: border-box;
  z-index: 15;
  position: relative;
  background: $white;
  width: $max-width;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba($black, .1);
  overflow: hidden;

  &-sub-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
  }


  &-group {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 28px;

    &:last-child {
      margin: 0;
    }

    label {
      display: flex;
      margin: 0 0 10px;
      color: $gray;
      font-size: 12px;
      font-weight: $semibold;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: .2em;

      .two & {
        color: $white;
      }
    }

    input {
      outline: none;
      display: block;
      background: rgba($black, 0.1);
      width: 100%;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: $gray;
      font-family: inherit;
      font-size: inherit;
      font-weight: $semibold;
      line-height: inherit;
      transition: 0.3s ease;

      &:focus {
        color: $dark-gray;
      }

      .two & {
        color: $white;

        &:focus {
          color: $white;
        }
      }
    }

    .form-button {
      outline: none;
      background: $accent;
      width: 100%;
      border: 0;
      border-radius: 4px;
      padding: 12px 20px;
      color: $white;
      font-family: inherit;
      font-size: inherit;
      font-weight: $semibold;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 6px $accent;
      }

      .two & {
        background: $white;
        color: $accent;
      }
    }

    .form-remember {
      font-size: 12px;
      font-weight: $regular;
      letter-spacing: 0;
      text-transform: none;

      input[type='checkbox'] {
        display: inline-block;
        width: auto;
        margin: 0 10px 0 0;
      }
    }

    .form-recovery {
      color: $accent;
      font-size: 12px;
      margin-bottom: 10px;
      text-decoration: none;
    }
  }
}


.google-btn {
  min-width: 195px;
  line-height: $base-line-height;
  cursor: pointer;
  background-color: $accent;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);

  .google-icon-wrapper {
    position: absolute;
    margin-top: 3px;
    margin-right: 8px;
    margin-left: 4px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }

  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }

  .btn-text {
    float: right;
    margin: 11px 11px 11px 11px;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
  }

  &:hover {
    box-shadow: 0 0 6px $accent;
  }
}
