<div class="container full-height">
  <div class="row full-height sign-in-container">
    <div class="sign-in-left offset-md-1 col-md-5 offset-sm-0 col-sm-12">
      <h1 class="title login-title"></h1>
      <form #f="ngForm" [formGroup]="phoneForm" class="login-form">
        <div class="mb-4">
          <mat-label class="label-fields">Telephone</mat-label>
          <ngx-intl-tel-input
            cssClass="custom"
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="false"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
            [selectFirstCountry]="true"
            [selectedCountryISO]="CountryISO.Ukraine"
            [maxLength]="15"
            [phoneValidation]="true"
            [separateDialCode]="separateDialCode"
            name="phone" formControlName="phone">
          </ngx-intl-tel-input>
        </div>
        <div class="mb-3">
          <mat-label class="label-fields">Password</mat-label>
          <input type="password" class="input-padding custom" formControlName="password" minlength="4">
        </div>
        <div class="sign-in__links">
          <a (click)="goToSignUp()">New user</a>
          <a href="">Forgot password?</a>
        </div>
        <div class="sign-in__buttons">
          <button mat-raised-button type="button" class="cancel-button" (click)="f.reset()">Cancel</button>
          <button mat-raised-button color="primary" [disabled]="!f.form.valid" (click)="logIn(f.form.controls)"  class="submit-button">OK</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 sign-in-right">
      <img class="login-logo" src="./../../../assets/img/login-image.png" alt="">
    </div>
  </div>
</div>
