html {
  box-sizing: border-box;

}

*,
* *::before,
*::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.swal2-html-container {
  padding: 0 !important;
}

.swal2-popup {
  background-color: transparent!important;
  width: auto!important;
}
